body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  color: $slate;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
svg {
  display: block;
}
link {
  text-decoration: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.is-stop {
  overflow: hidden;
}
