html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $almost-black;
  scroll-behavior: smooth;
  cursor: url('../images/cursor-default.png'), default;
}
// Номер телефона у футері
// font-family: 'DM Sans', sans-serif;
// Заголовки
// font-family: 'Seymour One', sans-serif;
a {
  text-decoration: none;
}
a,
button {
  cursor: url('../images/cursor-pointer.png'), pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  margin: 0;
  padding: 0;
}
svg {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint(mob) {
    width: 480px;
  }
  @include breakpoint(tab) {
    padding: 0 32px;
    width: 768px;
  }
  @include breakpoint(des) {
    padding: 0 16px;
    width: 1200px;
  }
}
/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Центрируем и задаем z-index */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: $almost-black;
  transition: 0.3s all;
}
.data-body-stop {
  overflow: auto;
  &.active {
    overflow: hidden;
    touch-action: none;
    height: 100vh;
  }
}
/* Стили для активных классов подложки и окна */
.modal.active {
  opacity: 1;
  visibility: visible;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
}
/* Стили для кнопки закрытия */
.modal__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  @include breakpoint(tab) {
    width: 24px;
    height: 24px;
  }
  > svg {
    width: 11px;
    height: 11px;
    fill: $almost-black;
    transition: fill $time $time-distribution;
    @include breakpoint(tab) {
      width: 14px;
      height: 14px;
    }
  }
  &:hover,
  &:focus {
    > svg {
      fill: $almost-yellow;
    }
  }
}
