$iris: #4d5ae5;
$ocean: #404bbf;
$navy-blue: #2e2f42;
$green: #31d0aa;
$slate: #434455;
$light-slate: #8e8f99;
$cornflower: #e7e9fc;
$cloud: #f4f4fd;
$grey: #2e2f42b2;
$modal-background: #fcfcfc;
$white-color: white;
$time: 250ms;
$time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
