<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="li-margin">
        <div class="icon-align">
          <svg class="advantages-icon">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </div>
        <div class="advantages-text">
          <h3>721</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="li-margin">
        <div class="icon-align">
          <svg class="advantages-icon">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div>
        <div class="advantages-text">
          <h3>16Kg</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li>
        <div class="icon-align">
          <svg class="advantages-icon">
            <use href="./images/icons.svg#icon-ice-crem"></use>
          </svg>
        </div>
        <div class="advantages-text">
          <h3>84</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
