<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contact-information">
        <p class="contact-name">CAFE</p>
        <p class="contact-city">Chicago</p>
        <a
          href="https://goo.gl/maps/8cJysjGxTCpSXzch8"
          class="contact-location"
          rel=" noopener , nofollow , noreferrer"
          target="_blank"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="contacts-line"></div>
        <ul class="contact-open-hours">
          <li class="contact-hours-pad">
            <p class="contact-days">Monday - Friday</p>
            <p class="contact-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact-days">Saturday - Sunday</p>
            <p class="contact-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts-line"></div>
        <div>
          <a href="tel:+61(0)-383-766-284" class="contacts-adresses"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-adresses"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact-information">
        <p class="contact-name">FOODTRACK</p>
        <p class="contact-city">Los Angeles</p>
        <a
          href="https://goo.gl/maps/331RFettUdRKaRgS8"
          class="contact-location"
          rel=" noopener , nofollow , noreferrer"
          target="_blank"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="contacts-line"></div>
        <ul class="contact-open-hours">
          <li class="contact-hours-pad">
            <p class="contact-days">Monday - Friday</p>
            <p class="contact-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact-days">Saturday - Sunday</p>
            <p class="contact-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts-line"></div>
        <div>
          <a href="tel:+61(0)-383-766-284" class="contacts-adresses"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-adresses"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contact-information">
        <p class="contact-name">CAFE</p>
        <p class="contact-city">New York</p>
        <a
          href="https://goo.gl/maps/KBquhJn4tovjmvcL6"
          class="contact-location"
          rel=" noopener , nofollow , noreferrer"
          target="_blank"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="contacts-line"></div>
        <ul class="contact-open-hours">
          <li class="contact-hours-pad">
            <p class="contact-days">Monday - Friday</p>
            <p class="contact-hours">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contact-days">Saturday - Sunday</p>
            <p class="contact-hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <div class="contacts-line"></div>
        <div>
          <a href="tel:+61(0)-383-766-284" class="contacts-adresses"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-adresses"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts-buttons">
      <button class="contact-button js-open-modal" type="button" data-modal="6">
        Our Locations
        <svg class="contact-button-svg" width="5px" height="10px">
          <use href="./images/icons.svg#icon-short-arrow"></use>
        </svg>
      </button>
      <button
        class="contact-button transparent js-open-modal"
        type="button"
        data-modal="7"
      >
        Franchise
        <svg class="contact-button-svg" width="5px" height="10px">
          <use href="./images/icons.svg#icon-short-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
