<section class="customer-reviews">
  <div class="reviews-wrapper">
    <h2>Customer reviews</h2>
    <div class="swiper swiper-reviews">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="review">
            <img
              class="customer-picture"
              alt="client-image"
              src="./images/customer-reviews/clients/client-one/client.jpg"
              srcset="
                ./images/customer-reviews/clients/client-one/client.jpg    1x,
                ./images/customer-reviews/clients/client-one/client@2x.jpg 2x
              "
            />
            <p class="review-text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            <p class="review-geo">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <img
              class="customer-picture"
              alt="client-image"
              src="./images/customer-reviews/clients/client-two/client.jpg"
              srcset="
                ./images/customer-reviews/clients/client-two/client.jpg    1x,
                ./images/customer-reviews/clients/client-two/client@2x.jpg 2x
              "
            />
            <p class="review-text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
            <p class="review-geo">Bryan, New-York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <img
              class="customer-picture"
              alt="client-image"
              src="./images/customer-reviews/clients/client-three/client.jpg"
              srcset="
                ./images/customer-reviews/clients/client-three/client.jpg    1x,
                ./images/customer-reviews/clients/client-three/client@2x.jpg 2x
              "
            />
            <p class="review-text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <p class="review-geo">Diana, Chicago</p>
          </div>
        </div>
      </div>
      <div class="bottom swiper-pagination"></div>
    </div>
  </div>
</section>
