<section class="gallery">
  <!-- Slider main container -->
  <div class="gallery-wrapper">
    <div class="swiper swiper-gallery">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-one/ice-cream-one.jpg"
            srcset="
                        ./images/gallery/ice-cream-one/ice-cream-one.jpg 1x
                        ./images/gallery/ice-cream-one/ice-cream-one@2x.jpg 2x,
                        ./images/gallery/ice-cream-one/ice-cream-one@3x.jpg 3x
                        "
          />
        </div>
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-two/ice-cream-two.jpg"
            srcset="
              ./images/gallery/ice-cream-two/ice-cream-two.jpg    1x,
              ./images/gallery/ice-cream-two/ice-cream-two@2x.jpg 2x,
              ./images/gallery/ice-cream-two/ice-cream-two@3x.jpg 3x
            "
          />
        </div>
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-three/ice-cream-three.jpg"
            srcset="
              ./images/gallery/ice-cream-three/ice-cream-three.jpg    1x,
              ./images/gallery/ice-cream-three/ice-cream-three@2x.jpg 2x,
              ./images/gallery/ice-cream-three/ice-cream-three@3x.jpg 3x
            "
          />
        </div>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
</section>
