<section class="gallery">
  <div class="gallery-wrapper">
    <h2>Gallery</h2>
    <div class="swiper swiper-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-one/ice-cream-one.jpg"
            srcset="
              ./images/gallery/ice-cream-one/ice-cream-one.jpg    1x,
              ./images/gallery/ice-cream-one/ice-cream-one@2x.jpg 2x
            "
          />
        </div>
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-two/ice-cream-two.jpg"
            srcset="
              ./images/gallery/ice-cream-two/ice-cream-two.jpg    1x,
              ./images/gallery/ice-cream-two/ice-cream-two@2x.jpg 2x
            "
          />
        </div>
        <div class="swiper-slide gallery-image-wrapper">
          <img
            alt="ice-cream-picture"
            class="gallery-image"
            src="./images/gallery/ice-cream-three/ice-cream-three.jpg"
            srcset="
              ./images/gallery/ice-cream-three/ice-cream-three.jpg    1x,
              ./images/gallery/ice-cream-three/ice-cream-three@2x.jpg 2x
            "
          />
        </div>
      </div>
    </div>
  </div>
</section>
