<header class="header scroll-header" id="navigation">
  <div class="container">
    <nav class="page-header">
      <div class="navbar">
        <a class="logo" href="#hero">
          <svg class="logo-icon-mobile">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <svg class="logo-icon-desctop">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="hamb tablet-absolute" id="hamb" type="button">
          <svg class="icon-open-burger">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="decoration-buy-now-tablet">
          <button
            class="button-buy-now js-open-modal"
            type="button"
            data-modal="1"
          >
            Buy now
            <svg class="buy-now">
              <use href="./images/icons.svg#icon-short-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="menu" id="menu">
          <a class="logo-mobile" href="#hero">
            <svg class="logo-icon-mobile">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="hamb" type="button">
            <svg class="icon-close-burger">
              <use href="./images/icons.svg#icon-cross"></use>
            </svg>
          </button>
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="./index.html">Home</a>
            </li>
            <li class="navigation-item">
              <a href="#about">How it’s made?</a>
            </li>
            <li class="navigation-item">
              <a href="#products">Our products</a>
            </li>
            <li class="navigation-item">
              <a href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="popup" id="popup">
    <div class="decoration-buy-now">
      <button
        class="button-buy-now js-open-modal buy-now-mobil"
        type="button"
        data-modal="1"
      >
        Buy now
        <svg class="buy-now">
          <use href="./images/icons.svg#icon-short-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header-scroll-btn" id="scroll-btn">
    <a href="#hero" class="header-scroll-btn__link">
      <svg>
        <use href="./images/icons.svg#icon-short-arrow"></use>
      </svg>
    </a>
  </div>
</header>
