<header class="header">
        <nav class="page-header">
            <div class="container">
                <div class="navbar">
                    <a class="logo" href="#">
                        <svg class="logo-icon-mobile">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                        <svg class="logo-icon-desctop">
                            <use href="./images/icons.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <button class="hamb tablet-absolute" id="hamb">
                        <svg class="icon-open-burger">
                            <use href="./images/icons.svg#icon-burger"></use>
                        </svg>
                    </button>
                    <div class="decoration-buy-now-tablet ">
                        <button href="#" class="button-buy-now">Buy now
                            <svg class="buy-now">
                                <use href="./images/icons.svg#icon-short-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="menu" id="menu">
                        <a class="logo-mobile" href="#">
                            <svg class="logo-icon-mobile">
                                <use href="./images/icons.svg#icon-logo"></use>
                            </svg>
    
                        </a>
                        <button class="hamb">
                            <svg class="icon-close-burger">
                                <use href="./images/icons.svg#icon-cross"></use>
                            </svg>
                        </button>
                        <ul class="navigation-list">
                            <li class="navigation-item"><a href="./index.html">Home</a></li>
                            <li class="navigation-item"><a href="#about">How it’s made?</a></li>
                            <li class="navigation-item"><a href="#products">Our products</a></li>
                            <li class="navigation-item"><a href="#contacts">Contact</a></li>
                        </ul>
                        <div class="decoration-buy-now ">
                            <button href="#" class="button-buy-now">Buy now
                                <svg class="buy-now">
                                    <use href="./images/icons.svg#icon-short-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="popup" id="popup"></div>
    
</header>
