<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-header">
      ice cream made with
      <span class="passion-word">passion</span>
    </h1>
    <div class="hero-anchor-links">
      <a href="#products" class="hero-products-btn"> Products </a>
      <a href="#about" class="how-its-made"> How it’s made? </a>
    </div>
    <svg class="hero-arrow">
      <use href="./images/icons.svg#icon-long-arrow"></use>
    </svg>
    <p class="hero-lorem">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <div class="hero-network-statistics">
      <ul class="hero-network-data">
        <li class="hero-cafe-quantity">
          <span class="hero-number">16</span>
          <span class="hero-units">cafes</span>
        </li>
        <li class="hero-truck-quantity">
          <span class="hero-number">23</span>
          <span class="hero-units">food trucks</span>
        </li>
      </ul>
    </div>
    <div class="hero-images">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/circles/circles.png    1x,
            ./images/hero/desktop/circles/circles@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero/tablet/circles/circles.png    1x,
            ./images/hero/tablet/circles/circles@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/hero/mobile480/circles/circles.png    1x,
            ./images/hero/mobile480/circles/circles@2x.png 2x
          "
          media="(min-width:480px)"
        />
        <img
          class="hero-circles"
          srcset="
            ./images/hero/mobile320/circles/circles.png    1x,
            ./images/hero/mobile320/circles/circles@2x.png 2x
          "
          src="./images/hero/mobile320/circles/circles.png"
          alt="wave of dots"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./images/hero/desktop/ice-cream/ice-cream.png    1x,
            ./images/hero/desktop/ice-cream/ice-cream@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero/tablet/ice-cream/ice-cream.png    1x,
            ./images/hero/tablet/ice-cream/ice-cream@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/hero/mobile480/ice-cream/ice-cream.png    1x,
            ./images/hero/mobile480/ice-cream/ice-cream@2x.png 2x
          "
          media="(min-width:480px)"
        />
        <img
          class="hero-ice-cream"
          srcset="
            ./images/hero/mobile320/ice-cream/ice-cream.png    1x,
            ./images/hero/mobile320/ice-cream/ice-cream@2x.png 2x
          "
          src="./images/hero/mobile320/ice-cream/ice-cream.png"
          alt="wave of dots"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./images/hero/desktop/lot-of-ice-cream/lot-of-ice-cream.png    1x,
            ./images/hero/desktop/lot-of-ice-cream/lot-of-ice-cream@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero/tablet/lot-of-ice-cream/lot-of-ice-cream.png    1x,
            ./images/hero/tablet/lot-of-ice-cream/lot-of-ice-cream@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img
          class="hero-lot-cream"
          srcset="
            ./images/hero/tablet/lot-of-ice-cream/lot-of-ice-cream.png    1x,
            ./images/hero/tablet/lot-of-ice-cream/lot-of-ice-cream@2x.png 2x
          "
          src="./images/hero/tablet/lot-of-ice-cream/lot-of-ice-cream.png"
          alt="wave of dots"
        />
      </picture>
    </div>
  </div>
</section>
