<!-- Modal Ingredients "2" -->
<div class="modal-ingredients modal" data-modal="2">
  <button type="button" class="modal__cross js-modal-close">
    <svg>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-icecream-page">Chocolate icecream</p>
  <div class="modal-icecream-image"></div>
  <ul class="modal-icecream-list list">
    <li class="modal-icecream-item">
      <span class="modal-ingredient-value modal-ingredients-circle">320</span>
      <span class="modal-ingredient-description">kcal</span>
    </li>
    <li class="modal-icecream-item">
      <span class="modal-ingredient-value modal-ingredients-circle">4g</span>
      <span class="modal-ingredient-description">Prote...</span>
    </li>
    <li class="modal-icecream-item">
      <span class="modal-ingredient-value modal-ingredients-circle">8,2g</span>
      <span class="modal-ingredient-description">Fats</span>
    </li>
    <li class="modal-icecream-item">
      <span class="modal-ingredient-value modal-ingredients-circle">40,4g</span>
      <span class="modal-ingredient-description">Carbs</span>
    </li>
  </ul>
  <p class="modal-ingredients-page">Ingredients</p>
  <ul class="modal-ingredients-list list">
    <li class="modal-ingredients-item"><span>Milk</span><span>100ml</span></li>
    <li class="modal-ingredients-item">
      <span>Belgian chocolate</span><span>20g</span>
    </li>
    <li class="modal-ingredients-item"><span>Cream</span><span>150ml</span></li>
    <li class="modal-ingredients-item">
      <span>Cocoa powder</span><span>30g</span>
    </li>
    <li class="modal-ingredients-item"><span>Sugar</span><span>40g</span></li>
    <li class="modal-ingredients-item">
      <span>Vanilla sugar</span><span>10g</span>
    </li>
  </ul>
  <form class="modal-ingredients-form">
    <div class="modal-wrapper-box">
      <input
        class="modal-input"
        type="text"
        name="user_name"
        required
        pattern="^[a-zA-Z]+$"
        title="Enter your name"
        placeholder="Name"
      />
      <input
        class="modal-input"
        type="tel"
        name="user_tel"
        required
        pattern="[+][0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="Enter your phone number in this format: +380-00-000-00-00"
        placeholder="Phone"
      />
      <textarea
        class="modal-input-comment"
        name="user_comment"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="send-button">Submit</button>
  </form>
</div>
<!-- Modal Ingredients "3" -->
<div class="modal-ingredients modal" data-modal="3">
  <button type="button" class="modal__cross js-modal-close">
    <svg>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-icecream-page">Chocolate icecoffee</p>
  <div class="modal-icecoffee-image"></div>
  <ul class="modal-icecream-list list">
    <li class="modal-icecream-item icecoffee-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle icecoffee-circle"
        >320</span
      >
      <span class="modal-ingredient-description">kcal</span>
    </li>
    <li class="modal-icecream-item icecoffee-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle icecoffee-circle"
        >4g</span
      >
      <span class="modal-ingredient-description">Prote...</span>
    </li>
    <li class="modal-icecream-item icecoffee-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle icecoffee-circle"
        >8,2g</span
      >
      <span class="modal-ingredient-description">Fats</span>
    </li>
    <li class="modal-icecream-item icecoffee-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle icecoffee-circle"
        >40,4g</span
      >
      <span class="modal-ingredient-description">Carbs</span>
    </li>
  </ul>
  <p class="modal-ingredients-page">Ingredients</p>
  <ul class="modal-ingredients-list list">
    <li class="modal-ingredients-item"><span>Milk</span><span>100ml</span></li>
    <li class="modal-ingredients-item">
      <span>Belgian chocolate</span><span>20g</span>
    </li>
    <li class="modal-ingredients-item"><span>Cream</span><span>150ml</span></li>
    <li class="modal-ingredients-item">
      <span>Cocoa powder</span><span>30g</span>
    </li>
    <li class="modal-ingredients-item"><span>Sugar</span><span>40g</span></li>
    <li class="modal-ingredients-item">
      <span>Vanilla sugar</span><span>10g</span>
    </li>
  </ul>
  <form class="modal-ingredients-form">
    <div class="modal-wrapper-box">
      <input
        class="modal-input icecoffee-input"
        type="text"
        name="user_name"
        required
        pattern="^[a-zA-Z]+$"
        title="Enter your name"
        placeholder="Name"
      />
      <input
        class="modal-input icecoffee-input"
        type="tel"
        name="user_tel"
        required
        pattern="[+][0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="Enter your phone number in this format: +380-00-000-00-00"
        placeholder="Phone"
      />
      <textarea
        class="modal-input-comment icecoffee-input"
        name="user_comment"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="send-button">Submit</button>
  </form>
</div>

<!-- Modal Ingredients "4" -->
<div class="modal-ingredients modal" data-modal="4">
  <button type="button" class="modal__cross js-modal-close">
    <svg>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <p class="modal-icecream-page">Chocolate milkshake</p>
  <div class="modal-milkshake-image"></div>
  <ul class="modal-icecream-list list">
    <li class="modal-icecream-item milkshake-item">
      <div class="modal-ingredients-circle milkshake-circle">
        <span class="modal-ingredient-value">320</span>
      </div>
      <span class="modal-ingredient-description">kcal</span>
    </li>
    <li class="modal-icecream-item milkshake-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle milkshake-circle"
        >4g</span
      >
      <span class="modal-ingredient-description">Prote...</span>
    </li>
    <li class="modal-icecream-item milkshake-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle milkshake-circle"
        >8,2g</span
      >
      <span class="modal-ingredient-description">Fats</span>
    </li>
    <li class="modal-icecream-item milkshake-item">
      <span
        class="modal-ingredient-value modal-ingredients-circle milkshake-circle"
        >40,4g</span
      >
      <span class="modal-ingredient-description">Carbs</span>
    </li>
  </ul>
  <p class="modal-ingredients-page">Ingredients</p>
  <ul class="modal-ingredients-list list">
    <li class="modal-ingredients-item"><span>Milk</span><span>100ml</span></li>
    <li class="modal-ingredients-item">
      <span>Belgian chocolate</span><span>20g</span>
    </li>
    <li class="modal-ingredients-item"><span>Cream</span><span>150ml</span></li>
    <li class="modal-ingredients-item">
      <span>Cocoa powder</span><span>30g</span>
    </li>
    <li class="modal-ingredients-item"><span>Sugar</span><span>40g</span></li>
    <li class="modal-ingredients-item">
      <span>Vanilla sugar</span><span>10g</span>
    </li>
  </ul>
  <form class="modal-ingredients-form">
    <div class="modal-wrapper-box">
      <input
        class="modal-input milkshake-input"
        type="text"
        name="user_name"
        required
        pattern="^[a-zA-Z]+$"
        title="Enter your name"
        placeholder="Name"
      />
      <input
        class="modal-input milkshake-input"
        type="tel"
        name="user_tel"
        required
        pattern="[+][0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="Enter your phone number in this format: +380-00-000-00-00"
        placeholder="Phone"
      />
      <textarea
        class="modal-input-comment milkshake-input"
        name="user_comment"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="send-button">Submit</button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
