<!-- Элементы для вызова модальных окон, могут быть любые -->

<a href="#" class="js-open-modal" data-modal="5">Открыть окно 5</a>

<!-- Несколько модальных окон -->

<div class="modal" data-modal="5">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <h2 class="title-modal-more">How it’s made?</h2>
      <iframe
        src="https://www.youtube.com/embed/8WEMZ86Eho8?controls=0"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="yt-video"
      ></iframe>
      <p class="more">
        About 70% of the ingredients in ice cream come from milk, although mixes
        often contain natural ingredients like sugar and fruit. Small quantities
        of stabilisers, flavours, colourings and emulsifiers may also be added
        to enhance flavour, texture or appearance.There are no added
        preservatives as ice cream is preserved naturally by freezing. As it
        freezes, the mixture is whipped and blended give its smoothness.
      </p>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
