<div class="modal modal-our-location our-location-one" data-modal="6">
  <button class="modal__cross js-modal-close" type="button">
    <svg>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <h2 class="title-modal-location">Our Locations</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7931196161376!2d-87.78192918469983!3d41.70340157923633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2seg!4v1674244361692!5m2!1sru!2seg"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="map"
  ></iframe>
  <a
    href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405!16s%2Fg%2F11jnxh2b00"
    class="open-map"
    target="_blank"
    rel=" noopener , nofollow , noreferrer"
  >
    Open Map
  </a>
</div>
<div class="overlay js-overlay-modal"></div>
