<div class="modal modal-read-more" data-modal="5">
  <button class="modal__cross js-modal-close" type="button">
    <svg>
      <use href="./images/icons.svg#icon-cross"></use>
    </svg>
  </button>
  <h2 class="title-modal-more">How it’s made?</h2>
  <iframe
    src="https://www.youtube.com/embed/8WEMZ86Eho8?controls=0"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="yt-video"
  ></iframe>
  <p class="more">
    About 70% of the ingredients in ice cream come from milk, although mixes
    often contain natural ingredients like sugar and fruit. Small quantities of
    stabilisers, flavours, colourings and emulsifiers may also be added to
    enhance flavour, texture or appearance.There are no added preservatives as
    ice cream is preserved naturally by freezing. As it freezes, the mixture is
    whipped and blended give its smoothness.
  </p>
</div>
<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
