<section class="products" id="products">
  <div class="container">
    <p class="products-label">100% natural</p>
    <h2 class="products-subtitle">products</h2>
    <ul class="list product">
      <li class="product-card">
        <div class="product-image">
          <picture>
            <source
              srcset="
                ./images/products/desktop/ice-cream/ice-cream.jpg    1x,
                ./images/products/desktop/ice-cream/ice-cream@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              srcset="
                ./images/products/mob-to-tab/ice-cream/ice-cream.jpg    1x,
                ./images/products/mob-to-tab/ice-cream/ice-cream@2x.jpg 2x
              "
              src="./images/products/mob-to-tab/ice-cream/ice-cream.jpg"
              alt="ice-cream"
            />
          </picture>
        </div>
        <div class="product-body">
          <div>
            <h3 class="products-subject">ice cream</h3>
            <p class="product-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
          <button
            class="product-button js-open-modal"
            type="button"
            data-modal="2"
          >
            <svg class="product-icon">
              <use href="./images/icons.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-card">
        <div class="product-image">
          <picture>
            <source
              srcset="
                ./images/products/desktop/ice-coffee/ice-coffee.jpg    1x,
                ./images/products/desktop/ice-coffee/ice-coffee@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              srcset="
                ./images/products/mob-to-tab/ice-coffee/ice-coffee.jpg    1x,
                ./images/products/mob-to-tab/ice-coffee/ice-coffee@2x.jpg 2x
              "
              src="./images/products/mob-to-tab/ice-coffee/ice-coffee.jpg"
              alt="ice-coffee"
            />
          </picture>
        </div>
        <div class="product-body">
          <div>
            <h3 class="products-subject">ice coffee</h3>
            <p class="product-text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <button
            class="product-button js-open-modal"
            type="button"
            data-modal="3"
          >
            <svg class="product-icon">
              <use href="./images/icons.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-card">
        <div class="product-image">
          <picture>
            <source
              srcset="
                ./images/products/desktop/milkshakes/milkshakes.jpg    1x,
                ./images/products/desktop/milkshakes/milkshakes@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              srcset="
                ./images/products/mob-to-tab/milkshakes/milkshakes.jpg    1x,
                ./images/products/mob-to-tab/milkshakes/milkshakes@2x.jpg 2x
              "
              src="./images/products/mob-to-tab/milkshakes/milkshakes.jpg"
              alt="milkshakes"
            />
          </picture>
        </div>
        <div class="product-body">
          <div>
            <h3 class="products-subject">milkshakes</h3>
            <p class="product-text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
          <button
            class="product-button js-open-modal"
            type="button"
            data-modal="4"
          >
            <svg class="product-icon">
              <use href="./images/icons.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
