.footer {
  padding: 30px 0 20px;
  background-color: #84a178;
  @include breakpoint(tab) {
    padding-top: 20px;
  }
  @include breakpoint(des) {
    padding-top: 60px;
  }
}
.list {
  list-style: none;
}
.basement {
  padding-top: 60px;
}
.footer-icon-network {
  fill: #84a178;
}

.footer-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: #f8d24e;
  transition: opacity $time $time-distribution, fill $time $time-distribution,
    color $time $time-distribution;
}
.footer-icon-network {
  transition: fill $time $time-distribution, opacity $time $time-distribution;
}
.footer-icon:focus .footer-icon-network {
  fill: #fcfcfc;
  color: #fcfcfc;
}

.footer-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #fcfcfc;
}
.footer-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #131313;
  padding-bottom: 40px;
}
.telefon {
  @extend %link;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #fcfcfc;
  transition: color $time $time-distribution;
  &:hover,
  &:focus {
    color: $almost-yellow;
  }
}

.protection-of-rights {
  margin: 0 auto;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #7a7a7a;
  padding-top: 20px;
  text-align: center;
  width: 170px;
  @include breakpoint(tab) {
    width: auto;
  }
}
.blok-footer {
  border-top: 1px solid #e1e1e1e1;
}

@media screen and (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .social-media {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 20px;
  }
  .text-duplicate-header {
    display: flex;
    flex-direction: column;
    width: 234px;
    gap: 16px;
    padding-bottom: 60px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 276px;
  }
  .basement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .text-duplicate-header {
    width: 352px;
    gap: 0;
    padding-bottom: 32px;
  }
  .footer-subtitle {
    font-size: 26px;
  }
  .footer-title {
    font-size: 48px;
  }
  .social-media {
    padding-bottom: 34px;
  }
  .social-media-contact {
    display: flex;
    flex-direction: column;
  }
  .contact {
    font-size: 14px;
  }
  .telefon {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-icon-network:hover,
  .footer-icon-network:active {
    fill: #fcfcfc;
    color: #fcfcfc;
  }
  .text-duplicate-header {
    width: 504px;
    padding-bottom: 60px;
  }
  .footer-subtitle {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.03em;
    padding-bottom: 14px;
  }
  .footer-title {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
  .social-media-contact {
    padding: 0;
  }
  .footer-icon:hover {
    color: #fcfcfc;
  }

  .contact {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .telefon {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .basement {
    border-bottom: 1px solid #e1e1e1e1;
  }
  .blok-footer {
    border: 0;
  }
  .protection-of-rights {
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}
