.header {
  background-color: $background-green;
  // padding-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 10px;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 18;
  box-shadow: 0px 0px 0px 0px transparent;
  transition: background $time $time-distribution,
    box-shadow $time $time-distribution;
  &.scroll-to-header {
    background-color: #90b183;
    border-bottom: 1px solid #787878;
    box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
      0px 2px 1px 0px #2e2f4214;
  }

  @include breakpoint(mob) {
    // padding-top: 14px;
    padding-bottom: 10px;
  }
  @include breakpoint(tab) {
    padding-top: 7px;
    padding-bottom: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 18;
  }
  @include breakpoint(des) {
    // padding-top: 8px;
    // padding-bottom: 22.5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 18;
  }
}

.page-header .navbar {
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  @include breakpoint(des) {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 308px;
    height: 65px;
  }
}
.logo-icon-mobile {
  display: block;
  width: 40px;
  height: 37px;
  fill: $almost-yellow;

  @include breakpoint(mob) {
    width: 48px;
    height: 44px;
    fill: $almost-yellow;
  }
  @include breakpoint(des) {
    display: none;
  }
}
.hamb {
  display: none;
  @media (max-width: 1199px) {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-bottom: -10px;
  }
}
.icon-open-burger {
  width: 32px;
  height: 32px;
  fill: $almost-white;
  transition: fill $time $time-distribution;
  &:hover,
  &:focus {
    fill: $almost-yellow;
  }
}
.icon-close-burger {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 32px;
  top: 26px;
  fill: $almost-white;
  transition: fill $time $time-distribution;
  &:hover,
  &:focus {
    fill: $almost-yellow;
  }
}
.button-buy-now {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  width: 152px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  box-shadow: 3px -3px 6px #00000030, 3px 3px 6px #00000030,
    -3px 3px 6px #00000030, -3px -3px 6px #00000030;
  transition: background-color $time $time-distribution,
    color $time $time-distribution, transform $time $time-distribution,
    box-shadow $time $time-distribution;

  &:hover {
    background-color: #0a8817;
    box-shadow: 0 3px 10px -0.5px #00000075;
  }
  &:focus {
    background-color: #0a8817;
    box-shadow: 0 3px 10px -0.5px #00000075;
    color: $almost-white;
  }
  &:active {
    transform: translate(0, 3px);
    box-shadow: 0px -4px 6px 0px #0000003d, 0px 2px 1px #0000003d;
  }
  &:disabled {
    background-color: #ababab;
  }
}
.buy-now-mobil {
  position: absolute;
  top: 400px;
  left: 50%;
  box-shadow: 3px -3px 6px #00000030, 3px 3px 6px #00000030,
    -3px 3px 6px #00000030, -3px -3px 6px #00000030;
  transform: translate(-50%, 0);
  transition: transform $time $time-distribution,
    box-shadow $time $time-distribution;
  &:hover,
  &:focus {
    box-shadow: 0 3px 10px -0.5px #00000075;
  }
  &:active {
    transform: translate(-50%, 3px);
    box-shadow: 0px -4px 6px 0px #0000003d, 0px 2px 1px #0000003d;
  }
  @include breakpoint(mob) {
    top: 500px;
  }
}
.buy-now {
  margin-left: 4px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  border: none;
}
.logo-mobile {
  position: absolute;
  top: 12px;
  left: 20px;
}
.navigation-item {
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  color: $almost-white;
  a {
    color: currentColor;
    text-decoration: none;
    transition: color $time $time-distribution;
    &:visited {
      color: currentColor;
    }
  }
  @include breakpoint(tab) {
    font-size: 48px;
    line-height: 1.22;
  }
  @include breakpoint(des) {
    font-size: 16px;
    line-height: 1.2;
    &:focus,
    &:hover {
      color: $almost-yellow;
    }
  }
  @media (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 114px;
    }
    &:hover,
    &:focus {
      color: $almost-black;
    }
  }
}
.tablet-absolute {
  @include breakpoint(tab) {
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: -5px;
  }
}
.decoration-buy-now {
  @include breakpoint(tab) {
    display: none;
  }
}
.popup {
  @include breakpoint(des) {
    display: none;
  }
  @media (max-width: 1199px) {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $background-green;
    z-index: 19;
    display: flex;
    transition: 0.3s;
  }
  .menu {
    @media (max-width: 1199px) {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: scroll;
      li {
        width: 100%;
      }
    }
  }
}
.navigation-list {
  @extend %list-style;
  @include breakpoint(des) {
    margin-left: 55px;
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    justify-content: space-between;
  }
  @media (max-width: 1199px) {
    margin-top: 140px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 40px;
  }
}
.logo-icon-desctop {
  @include breakpoint(des) {
    width: 60px;
    height: 65px;
    fill: $almost-yellow;
    transform: scale(1);
    transition: fill $time $time-distribution,
      transform $time $time-distribution;
    &:hover {
      fill: $almost-white;
      transform: scale(1.02);
    }
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
.logo {
  @include breakpoint(des) {
    width: 60px;
    height: 65px;
    position: absolute;
    left: 0;
    top: -5px;
  }
}
.decoration-buy-now-tablet {
  @media (max-width: 767px) {
    display: none;
  }
}
.menu {
  @media (max-width: 1199px) {
    display: none;
  }
}
.popup.open {
  @media (max-width: 1199px) {
    right: 0;
  }
}
body.noscroll {
  @media (max-width: 1199px) {
    overflow: hidden;
  }
}
.header-scroll-btn {
  display: none;
}
.scroll-to-hero {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 18;
  @include breakpoint(mob) {
    bottom: 50px;
    right: 50px;
  }
}
.header-scroll-btn__link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f8d34e7a;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  scale: 1;
  transition: scale $time $time-distribution,
    background $time $time-distribution;
  > svg {
    fill: $almost-white;
    width: 25px;
    height: 25px;
    transition: fill $time $time-distribution;
    transform: rotate(-90deg);
  }
  &:hover {
    scale: 1.2;
    background-color: $almost-yellow;
    > svg {
      fill: $almost-black;
      width: 50px;
      scale: 1.1;
    }
  }
}
