.page-header .navbar {
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding-top: 12px;
}
.logo-icon-mobile {
  display: block;
  width: 40px;
  height: 37px;
}
.hamb {
  display: none;
}
.icon-open-burger,
.icon-close-burger {
  width: 32px;
  height: 32px;
}
.icon-close-burger {
  position: absolute;
  right: 32px;
  top: 16px;
}
.button-buy-now {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;
  width: 152px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  text-decoration: none;
}
.button-buy-now:hover {
  background-color: var(--decoration-green);
}
.button-buy-now:focus {
  background-color: var(--decoration-green);
  color: var(--light-text);
}
.button-buy-now:disabled {
  background-color: var(--disabled);
}

.buy-now {
  margin-left: 4px;
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.logo-mobile {
  position: absolute;
  top: 12px;
  left: 20px;
}
.navigation-item {
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--light-text);
}

/* _______________________________________________________________MEDIA____________________MEDIA________________MEDIA__________________________MEDIA__________ */
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .logo-icon-mobile {
    width: 48px;
    height: 44px;
  }
}

@media (max-width: 767px) {
  .decoration-buy-now-tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar {
    padding-top: 20px;
  }
  .tablet-absolute {
    position: absolute;
    top: 45px;
    right: 216px;
    transform: translateY(-50%);
  }

  .decoration-buy-now {
    display: none;
  }
  .navigation-item {
    font-size: 48px;
    line-height: 1.22;
  }
}

@media (max-width: 1199px) {
  .logo-icon-desctop {
    display: none;
  }
  .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .popup {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--green-background);
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    right: 0;
  }
  .popup .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
  }
  .popup .menu > li {
    width: 100%;
  }
  .navigation-list {
    margin-top: 140px;
  }

  .navigation-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-item:last-child {
    margin-bottom: 114px;
  }
  .navigation-item:hover,
  .navigation-item:focus {
    color: var(--text);
  }
  body.noscroll {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .logo-icon-mobile {
    display: none;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0;
    padding-left: 308px;
    height: 73px;
  }
  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    justify-content: space-between;
  }
  .logo-icon-desctop {
    width: 60px;
    height: 65px;
  }
  .navigation-item {
    font-size: 16px;
    line-height: 1.2;
  }

  .logo {
    width: 60px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .navigation-item:hover,
  .navigation-item:focus {
    color: var(--yellow-buttons);
  }
}
