.header {
  @extend %list-style;
  width: 100%;
  height: 100px;
  background-color: darkslategray;
  // background: url('../images/about/desktop/cow.jpg') no-repeat center/cover;
  text-align: center;
  color: black;
  font-size: 50px;
}
