.modal-franchise {
  position: fixed;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 28px;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}

.text-modal-franchise {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #131313;
  text-align: start;
}

.title-modal-franchise {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #131313;
}

.form-modal-franchise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit-button-modal-franchise {
  width: 114px;
  height: 42px;
  border-radius: 10px;
  background-color: #f8d24e;
  border: transparent;
  outline: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  transition: background $time $time-distribution,
    color $time $time-distribution, box-shadow $time $time-distribution;
  &:hover,
  &:focus {
    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    background-color: #0a8817;
  }
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    color: #ffff;
  }
  &:disabled {
    background-color: #ababab;
  }
}
.textarea-modal-franchise {
  resize: none;
  border: 1px solid #84a178;
  border-radius: 10px;
  width: 224px;
  height: 64px;
  padding: 8px 12px;
  margin-bottom: 24px;
  background: rgba(248, 210, 78, 0.1);
  outline: transparent;
  &:focus,
  &:hover {
    border: 1px solid #f8d24e;
  }
}
.textarea-modal-franchise::placeholder {
  font-size: 12;
  color: #131313;
  font-family: 'Montserrat';
}

.input-modal-franchise {
  border: 1px solid #84a178;
  border-radius: 10px;
  width: 224px;
  height: 32px;
  padding: 8px 12px;
  margin-bottom: 12px;
  background: rgba(248, 210, 78, 0.1);
  outline: transparent;
}

.input-modal-franchise::placeholder {
  font-size: 12;
  line-height: 1.4;
  color: #131313;
}
.input-modal-franchise:focus,
.input-modal-franchise:hover {
  border: 1px solid #f8d24e;
}

@media screen and(min-width: 768px) {
  .modal-franchise {
    max-width: 90vh;
    width: 568px;
    padding: 32px 60px;
    align-items: center;
  }

  .title-modal-franchise {
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    text-align: center;
    margin-bottom: 24px;
  }

  .text-modal-franchise {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .input-modal-franchise {
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    font-size: 14px;
  }

  .input-modal-franchise::placeholder {
    font-size: 14px;
  }

  .textarea-modal-franchise {
    width: 368px;
    height: 84px;
    font-size: 14px;
    margin-bottom: 32px;
  }

  .textarea-modal-franchise::placeholder {
    font-size: 14px;
  }

  .submit-button-modal-franchise {
    width: 121px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
  }
}
